<!DOCTYPE html>
<!-- templatemo 413 flip turn -->
<!-- 
Flip Turn Template 
http://www.templatemo.com/preview/templatemo_413_flip_turn
-->
{% extends "index.html" %}
{% block content %}
		<div class="content-container">
			<header>
				<h1 class="center-text">About Snap Turn</h1>
				<h2 class="center-text">Snap Turn is a photo blog that highlights current events and lesser-known news stories through some awesome high-resolution pictures that are sourced from Reuters Pictures, Getty Images, flickr, and others private photographers and videos in addition.</h2>
			</header>
			<div class="templatemo-detail content">
				
				<div class="about-detail">
                    <h1>About Raj mohan</h1>	
                    <img src="http://192.168.1.59:8003/static/images/raj.JPG" alt="image 3" class="left shadow">
					<p class="justify">I am a Black box Tester comes developer and i  have been in IT industry for the past two years.I am passionate about creating blogs and maintaining.I am not the guy who good at academics.I had arrears and i am a marketer for some times after graduation.I was selling from Pizza's to credit cards.</p>
                    <br><p>I am a hardworker and willing to learn any new technologies.I have two years of working experience in python and django.Databases which i am familiar with are Postgres and oracle.</p>
                    <h3 class="subtitle">I have the following skill sets</h3>
					<ul class="checkmark pad-left">
						<li>languages :python ,java.</li>
						<li>Frameworks:Django.</li>
						<li>Database  :PostgreSQL , Oracle 10g.</li>
                        <li>Version control:GIT,SVN</li>
					</ul>
                    
                    <br>
                    
                    <h1>Inspired by Gary Vaynerchuk </h1>	
                    <img src="http://192.168.1.59:8003/static/images/Gary-Vaynerchuk.jpg" alt="image 6" class="left shadow">
					<p class="justify">He’s a very loud and charismatic New Yorker who gained internet fame as the crazy and outgoing host of Wine Library TV, a video blog that obsessively talked about everything related to wine. Through online video blogging, he built his wine business from a $3-million-dollar-a-year wine retail store to a $60 million dollar wine wholesale business. Gary Vaynerchuk has built a multi-million dollar empire relating to his personal brand. He’s a two-time best-selling author and co-founder of Vayner Media, a very large digital marketing agency that works with some of the largest brands in the world. He’s been featured in The Wall Street Journal, GQ, and Time Magazine, as well as appeared on Late Night with Conan O’Brien and The Ellen DeGeneres Show.</p>
                    <br><p></p>
				</div>	
                
			</div>
		</div> <!-- /.content-container -->	
		{% endblock %}
		<footer>
			<p>Copyright &copy; 2084 Your Company Name</p>
			<div class="social right">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
			</div>
		</footer>
	</div>	
</body>
</html>